<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Livraria</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios/cadastrar">
                        <i class="bi bi-person-plus"></i>
                        <span>Cadastro de usuário</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/usuarios/listar">
                        <i class="bi bi-list-ul"></i>
                        <span>Lista de usuários</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/livros/cadastrar">
                        <i class="bi bi-book-open"></i>
                        <span>Cadastro de livro</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/livros/listar">
                        <i class="bi bi-list-ol"></i>
                        <span>Lista de livros</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>